<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/banner.jpg" class="lunbo"/></div>
        <div class="swiper-slide"><img src="images/banner2.jpg" class="lunbo"/></div>
        <div class="swiper-slide"><img src="images/banner3.jpg" class="lunbo"/></div>
        <div class="swiper-slide"><img src="images/banner4.jpg" class="lunbo"/></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="title">
	<p><span></span>热门推荐</p>
</div>

<div class="songlist clearfix"></div>

<div id="songItem" style="display: none;">
	<div class="item">
		<a href="#">
			<span>13万&nbsp;&nbsp;</span>
			<img src="images/18557557255401002.jpg" />
			<p>路啊啦啦啦啦啦啊啦啦啦啦啦啦</p>
		</a>
	</div>
</div>